body {
  background-color: #ae8fb1;
  font-family: 'Times New Roman', Times, serif;
}

#quote {
  background-color: #ae8fb1;
  font-family: 'Times New Roman', Times, serif;
  color:#e6ddee;
  width: auto;

  padding: 140px;
  margin: 100px;
}

.middle-img {
background-image: src(starrysky.jpg);
background-size: 150px;


}

#quote > h2 {
  color: white;
  text-align: center;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: block;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: block;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
