body {
  background-color: #ae8fb1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#quote {
  background-color: #ae8fb1;
  background: url(assets/img/starrysky.jpg) center center no-repeat; background-size: cover;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  color: white;
  height: 90vh;
}

#quote > h2 {
  color: white;
  text-align: center;
}

#quote > a {
  text-decoration: none;
  background-color: #434E74;
  font-size: 1.5em;
border-radius: 7px;
margin-left: 5rem;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;

  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  @media (min-width: 550px) {
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }

    nav > ul > li {
      text-decoration: none;
      border: 1px solid;
      padding: 0.5rem 0.5rem;
      border-radius: 25px;
    }

    nav > .fa-bars {
      display: none;
    }

